<div class="container bg-transparent">
    <div class="row">
        <div class="col-md-12">
            <form >
                <div class="form-group">
                    <label for="firstname" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">First Name</label>
                    <input type="text" name="firstname" class="form-control" formControlName="firstname">

                </div>
                <div class="form-group" >
                    <label for="lastname" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">Last Name</label>
                    <input type="text" name="lastname" class="form-control" formControlName="lastname">

                </div>

                <div class="form-group">
                    <label for="email" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">Email</label>
                    <input type="Email" name="email" class="form-control" formControlName="email">
                </div>

                <div class="form-group">
                    <label for="mobile" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">Mobile</label>
                    <input type="tel" name="mobile" class="form-control" formControlName="mobile">
                </div>

                <div class="form-group" >
                    <label for="address" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">PIN</label>
                    <textarea class="form-control" id="address" rows="3"></textarea>
                </div>

                <div class="form-group" >
                    <label for="pin" style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;color: black;font-weight: 700">PIN</label>
                    <input type="number" name="pin" class="form-control" formControlName="pin">
                </div>
               
                
                <br>
                <div>
                    <button type="submit" style="margin-right: 20px;" class="btn btn-primary">Button</button>    |
                    <!-- <button type="button" style="margin-left: 20px;" class="btn btn-primary" (click)="Switch_btn_fun()">{{Islogin ? 'Switch to SignUp':'Switch to Login'}}</button> -->

                </div>
            </form>
        </div>
    </div>
</div>
