<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
      <div class="navbar-brand">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMIjIR8qim3APDkARyv5DZMa6QbVMwvyHA3w&usqp=CAU" height="28">
      </div>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a  [routerLink]="['']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}"class="nav-item nav-link text-dark">Home</a>
              <a [routerLink]="['/categories']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" class="nav-item nav-link">Categories</a>
              <a href="#" class="nav-item nav-link text-dark">Messages</a>
              <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
          </div>
          <div class="navbar-nav ms-auto">
              <a [routerLink]="['/signuplogin']"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}" id="login_btn" class="nav-item nav-link">Login</a>
          </div>
      </div>
  </div>
</nav>

<!-- navigation -->

<router-outlet></router-outlet>




