<div class="row">
    <div class="col">
        <div class="row">
        <img src="../../../assets/images/Mobiles/{{mob.p_id}}.jpg"
              style="width: 450px;height:450px"
               class="card-img-top" alt="...">
            </div>
            <div class="row">
                <div class="col-lg-3" style="padding-left:130px;">
                    <button class="btn btn-warning" style="border-radius: 10px;"> Buy </button>
                </div>
                <div class="col-lg-4" style="padding-left: 40px;" >
                    <button class="btn btn-warning" style="border-radius: 10px;" >Add to cart</button>
                </div>
            </div>
    </div>

    <div class="col">
        <div class="row">
            <h5 style="font-size:50px;font-weight:600;margin-bottom:50px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">{{mob.brand}} {{mob.model}}</h5>
            </div>
            <ul>
          <li>
            <div class="row" style="font-weight:bold;margin-left:4px;margin-bottom:10px;background-color: rgb(148, 110, 12);width:fit-content;height:27px;color:white;border-radius: 40px;">
              <p>{{mob.rating}} ★</p>
            </div>
          </li>
          <li>
            <div class="row" style="font-weight:800;margin-left:4px;font-family:sans-serif">
              <h6 style="font-size: 30px;">₹{{mob.price}}/-</h6>
            </div>
          </li>
          </ul>
          <div class="row" style="font-family:'Courier New', Courier, monospace">
            <h4 style="background-color: rgb(14, 169, 58);width:fit-content;border-radius: 30px;font-weight:700">Free delivery</h4>
          </div>
          <ul>
          <li>
          <div class="row" style="font-family: Arial, Helvetica, sans-serif;">
            <h6>Upto 20% off on exchange</h6>
          </div></li>
          <li>
            <div class="row" style="font-family: Arial, Helvetica, sans-serif;">
              <h6>special offer on credit card</h6>
            </div>
          </li>
        </ul>
        <div class="row">
            <div class="col-lg-2">
                <h6 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size:15px;background-color:aquamarine;padding-left:5px;padding-top:5px;padding-bottom:5px;border-radius:10px">Highlights</h6>
            </div>
            <div class="col">
                <ul>
                    <li>
                        <div class="row"><p style="font-size: 12px;font-family:cursive">6 GB RAM | 128 GB ROM | Expandable Upto 1 TB</p></div>
                    </li>
                    <li>
                        <div class="row"><p style="font-size: 12px;font-family:cursive">16.51 cm (6.5 inch) Full HD+ Display</p></div>
                    </li>
                    <li>
                        <div class="row"><p style="font-size: 12px;font-family:cursive">64MP + 12MP + 5MP + 5MP | 32MP Front Camera</p></div>
                    </li>
                    <li>
                        <div class="row"><p style="font-size: 12px;font-family:cursive">Qualcomm Snapdragon 778G Processor</p></div>
                    </li>
                    <li>
                        <div class="row"><p style="font-size: 12px;font-family:cursive">4500 mAh Li-ion Battery</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
